.header {
  position: fixed;
  z-index: 800;
  top: 0;
  width: 100%;
  background-color: $primary-white-color;
  border-bottom: 1px solid #ececec;

  @include for-size(tablet) {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }
}
