.logo__top,
.logo__footer {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $accent-color;

  @include for-size(desktop) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__top {
  padding-top: 16px;
  padding-bottom: 16px;

  @include for-size(tablet) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @include for-size(desktop) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &--color {
    color: $primary-text-color;
  }
}

.logo__footer--color {
  color: $primary-white-color;
}
