
  $primary-white-color: #ffffff;
  $primary-text-color: #212121;
  $secondary-text-color: #757575;
  $accent-color: #2196f3;
  $header-border-color: #ececec;
  $footer-color: #2f303a;
  $backgound-secondary: #f5f4fa;
  $contacts-footer: rgba(255, 255, 255, 0.6);
  $bkg-icon: #afb1b8;
  $anim-duration: 250ms;
  $anim-function: cubic-bezier(0.4, 0, 0.2, 1);

$default-font: 'Roboto', sans-serif;
$logo-font: Raleway, sans-serif;